@using System.Reflection
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@inject LazyAssemblyLoader LazyAssemblyLoader
<Router AppAssembly="@typeof(Program).Assembly">
        @*AdditionalAssemblies="@lazyLoadedAssemblies" OnNavigateAsync="@OnNavigateAsync">*@
    <Found Context="routeData">
        <CascadingValue Value="buttonClass" Name="buttonStyle">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    private string buttonClass = "btn-danger";

    // To lazy load assemblies, see below
    //private List<Assembly> lazyLoadedAssemblies = new List<Assembly>();

    //private async Task OnNavigateAsync(NavigationContext args)
    //{
    //    if (args.Path.Contains("employeedetail"))
    //    {
    //        var assemblies = await LazyAssemblyLoader.LoadAssembliesAsync(new string[] { "BethanysPieShopHRM.ComponentsLibrary.dll" });
    //        lazyLoadedAssemblies.AddRange(assemblies);
    //    }
    //}

}
